<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Mediumlytics</title>
  <meta name="description" content="Medium statistics to help you grow">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{!-- <link rel="manifest" href="site.webmanifest"> --}}
  {{!-- <link rel="apple-touch-icon" href="icon.png"> --}}
  <!-- Place favicon.ico in the root directory -->
  {{> reset.css }}
  {{> styles.css }}
</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
  <nav class="c-nav">
    <div class="c-nav__inner">
      <img
        class="c-nav__logo"
        src="/public/mediumlytics-logo.jpg"
        alt="Mediumlytics logo">
      <a class="c-nav__link c-title-m" href="/">Mediumlytics</a>
      <div class="c-nav__right">
        {{#if isAuthed}}
          <a class="c-nav__link" href="/dashboard">Me</a>
          <a class="c-nav__link" href="/logout">Log out</a>
        {{else}}
          <a class="c-nav__link" href="/login/medium">Sign in</a>
        {{/if}}
      </div>
    </div>
  </nav>

  <script>
    function post(url, data, options) {
      return fetch(url, {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        credentials: 'include',
        body: JSON.stringify(data),
        ...options
      })
    }
  </script>
  <div class="c-content">
    {{{ body }}}
  </div>


  <div style="display: none">
    {{> svgs }}
  </div>

  <script async src="//simplewebsiteanalytics.com/hello.js"></script>
  <noscript><img src="//simplewebsiteanalytics.com/hello.gif" alt=""></noscript>
</body>

</html>
