<h1>
  Dashboard
</h1>
<ul>
  <li>Current number of followers: {{ data.currentFollowers }}</li>
  <li>Number of followers an hour ago: {{ data.hourlyFollowers }}</li>
  <li>Number of followers a day ago: {{ data.dailyFollowers }}</li>
</ul>