<h1>
  Dashboard
</h1>

<h2>Current number of followers: {{ currentFollowers }}</h2>

<div id="app">
  Here are some people you follow and their number of followers:
  <div v-if="isLoading">Loading...</div>
  <ul v-else>
    <li v-for="following in followingList" :key="following.user">
      \{{following.user}}: \{{following.followers}}
    </li>

  </ul>
</div>

<script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
<script>

  const app = new Vue({
    el: '#app',
    data: function () {
      return {
        followingList: [],
        isLoading: false
      };
    },
    mounted() {
      this.isLoading = true;
      fetch('/api/current-following-follower-count', {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        credentials: 'include',
      })
        .then(data => data.json())
        .then(({ following }) => {
          this.followingList = following;
          this.isLoading = false;
        });
    }
  });
</script>
