<section class="section">
  <h1>
    Welcome to Medium followers,
  </h1>

  {{#if isAuthed}}
    For your statistics: <a href="/dashboard">Go to dashboard</a>
  {{else}}
    To start: <a href="/login/medium">Log in with Medium</a>
  {{/if}}
</section>