<section class="c-landing__hero c-hero-pattern">
  <img class="c-landing__hero__logo" src="/public/mediumlytics-logo.png">
  <h1 class="c-landing__hero__heading">Mediumlytics</h1>

  <blockquote class="c-landing__hero__tagline">
    Understand how the top Medium creators do it,
    <br/> statistics designed to help you grow
  </blockquote>

  <a class="c-btn c-btn--primary" href="/#make-it-work-for-you">Try now</a>
</section>

<section class="c-landing__demo">
  <h2 class="c-landing__demo__heading c-title-m">What it looks like</h2>
  <div class="c-landing__demo__widget">
    <div id="demo-app">
      Coming soon...
    </div>
  </div>
</section>

<section class="c-landing__cta-section">
  <h2 class="c-landing__cta-section__heading c-title-m" id="make-it-work-for-you">
    Make it work for you
  </h2>
  <form class="c-landing__cta-section__form">
    <input class="c-landing__cta-section__form__input c-landing__cta-section__form__input--text" type="text" placeholder="@your_username">
    <input class="c-landing__cta-section__form__input c-btn c-btn--primary" type="submit" value="Go">
  </form>
</section>

<section class="c-landing__what-it-does">
  <h2 class="c-landing__what-it-does__heading c-title-m">What Mediumlytics does</h2>
  <ul class="c-landing__what-it-does__card-container">
    <li class="c-landing__what-it-does__card">
      <h3 class="c-landing__what-it-does__card__heading c-title-s">
        <svg class="c-landing__what-it-does__card__icon">
          <use href="#chart-icon"></use>
        </svg>
        Track growth
      </h3>
      {{!-- <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis, libero eget vehicula laoreet, neque metus
        rutrum elit, eu semper augue velit vel augue. In volutpat nec sem nec varius. Ut ultrices nisl eget diam imperdiet
        volutpat. In vel massa rhoncus, sagittis massa sed, placerat massa. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Cras leo sem, semper id finibus id, euismod eget augue. Aliquam odio
        dui, bibendum vitae porttitor vitae, varius at lectus. In sit amet nulla vitae odio interdum rutrum.
      </p> --}}
    </li>
    <li class="c-landing__what-it-does__card">
      <h3 class="c-landing__what-it-does__card__heading c-title-s">
        <svg class="c-landing__what-it-does__card__icon c-landing__what-it-does__card__icon--analysis">
          <use href="#analysis-icon"></use>
        </svg>
        Check on your friends and competitors
      </h3>
      {{!-- <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis, libero eget vehicula laoreet, neque metus
        rutrum elit, eu semper augue velit vel augue. In volutpat nec sem nec varius. Ut ultrices nisl eget diam imperdiet
        volutpat. In vel massa rhoncus, sagittis massa sed, placerat massa. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Cras leo sem, semper id finibus id, euismod eget augue. Aliquam odio
        dui, bibendum vitae porttitor vitae, varius at lectus. In sit amet nulla vitae odio interdum rutrum.
      </p> --}}
    </li>
    <li class="c-landing__what-it-does__card">
      <h3 class="c-landing__what-it-does__card__heading c-title-s">
        <svg class="c-landing__what-it-does__card__icon">
          <use href="#strategy-icon"></use>
        </svg>
        Gain new content insights*
      </h3>
      {{!-- <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis, libero eget vehicula laoreet, neque metus
        rutrum elit, eu semper augue velit vel augue. In volutpat nec sem nec varius. Ut ultrices nisl eget diam imperdiet
        volutpat. In vel massa rhoncus, sagittis massa sed, placerat massa. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Cras leo sem, semper id finibus id, euismod eget augue. Aliquam odio
        dui, bibendum vitae porttitor vitae, varius at lectus. In sit amet nulla vitae odio interdum rutrum.
      </p> --}}
    </li>
  </ul>
</section>

<section class="c-landing__cta-section">
  <h2 class="c-landing__cta-section__heading c-title-m">Start tracking your Medium statistics</h2>
  <form class="c-landing__cta-section__form">
    <input class="c-landing__cta-section__form__input c-landing__cta-section__form__input--text" type="text" placeholder="@your_username">
    <input class="c-landing__cta-section__form__input c-btn c-btn--primary" type="submit" value="Go">
  </form>
</section>

<script>
  (function (document) {
    const ctaForms = Array.prototype.slice.apply(document.querySelectorAll('.c-landing__cta-section__form'))
    ctaForms.forEach(function (form) {
      form.addEventListener('submit', function (e) {
        e.preventDefault();
        alert("Sorry we're still a work in progress 🏗\nFeature coming soon 🙂");
      });
    });
  })(document);
</script>
