<section class="c-landing__hero c-hero-pattern">
  <img class="c-landing__hero__logo" src="/public/mediumlytics-logo.png">
  <h1 class="c-landing__hero__heading">Mediumlytics</h1>

  <blockquote class="c-landing__hero__tagline">
    Understand how the top Medium creators do it,<br/>
    statistics designed to help you grow
  </blockquote>

  <a class="c-btn c-btn--white" href="/#make-it-work-for-you">Try now</a>
</section>

<section class="c-landing__demo">
  <h2 class="c-landing__demo__heading c-title-s">What it looks like</h2>
  <div class="c-landing__demo__widget" id="demo-app"></div>
</section>

<section class="c-landing__make-it-work">
  <h2 class="c-landing__make-it-work__heading c-title-s" id="make-it-work-for-you">What it looks like</a></h2>
  <form class="c-landing__make-it-work__form">
    <input class="c-landing__make-it-work__form__input c-landing__make-it-work__form__input--text"type="text" placeholder="@your_username">
    <input class="c-landing__make-it-work__form__input c-btn c-btn--primary" type="submit" value="Go">
  </form>
</section>


<section class="section">

  <h1>
    Welcome to Medium followers,
  </h1>

  <div class="widget-display"></div>

  <form class="submit-widget">
    <input name="username" type="text" value="@hugo__df">
    <button>Show me my followers</button>
  </form>

  <script>
    (function (document) {
      const submitForm = document.querySelector('.submit-widget');
      const widgetDisplay = document.querySelector('.widget-display');

      function fetchAndDisplayWidget() {
        const username = submitForm.querySelector('[name="username"]').value;
        widgetDisplay.innerHTML = '<span class="loading">Loading</span>';
        post('/api/following-follower-count', { username })
          .then(data => data.json())
          .then(({ following, userFollowerCount }) => {
            const userFollowers = `<h2>${username} has ${userFollowerCount} followers</h2>`;
            const followerList = `<br/>Here are the stats of some of the people they follow: <ul>${following.map(({ user, followers }) => `<li>${user}: ${followers}<li>`).join('')}</ul>`;
            widgetDisplay.innerHTML = userFollowers + followerList;
          });
      }
      const listener = submitForm.addEventListener('submit', (e) => {
        e.preventDefault();
        e.stopPropagation();
        fetchAndDisplayWidget();
        return false;
      });
      {{!-- fetchAndDisplayWidget(); --}}
    })(document)
  </script> {{#if isAuthed}} For your statistics:
  <a href="/dashboard">Go to dashboard</a>
  {{else}} To start:
  <a href="/login/medium">Log in with Medium</a>
  {{/if}}
</section>
